# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Temporary
*.tmp
*.temp